[holland:backup]
plugin = mariabackup
backups-to-keep = {{ backup_count }}
auto-purge-failures = yes
purge-policy = after-backup
estimated-size-factor = 0.2

[mariabackup]
global-defaults = /etc/my.cnf
innobackupex = mariabackup
# ibbackup = "" # no default
stream = mbstream
apply-logs = yes
slave-info = no
safe-slave-backup = no
no-lock = no
# tmpdir = "" # no default
additional-options = ,
# pre-command = "" # no default

[compression]
method = gzip
inline = yes
options = ""
level = 3

[mysql:client]
user = "root"
password = "{{ maria_password }}"
socket = "/var/run/mysqld/mysqld.sock"
